* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  padding: 1rem;
}
main {

    .view-1{

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .background-img {
                background-image: url("https://images.unsplash.com/photo-1730317196374-5209e38e4e40?q=80&w=2904&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
                background-repeat: no-repeat;
                background-size: fill;  /* <-- THIS IS THE FIX */
                position: absolute;
                border-radius: 1rem;
                
                background-position:unset;
   
                
                z-index: -1;
                width: 100%;
                height: 100%;

                opacity: 0.2;
            }
        

        .part-1 {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            button{
                display: none;
            }

            .heading{
                h1{
                    font-weight: 600;
                    font-size: 2rem;

                    padding-top:2rem;
                    opacity: 0.91;
                    
                    span{
                        opacity: 0.6;
                    }

                }
            }
            .content{
                p{
                    font-size: small;
                    font-weight: 400;
                    line-height: 1.4;
                    opacity: 0.7;

                }
            }
        }
        .part-2{
            max-width: 70rem;
            max-height: 70rem;

            padding:0;
            display:grid;
            position: relative;
            
            gap: 0.5rem;
            grid-template-areas: 
            "p p p s s s"
            "p p p s s s"
            "p p p s s s"
            "p p p s s s"
            "p p p s s s"
            "p p p l l l"
            "p p p l l l"
            "p p p l l l";
        
            img{
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 1rem;
            }
            .square-1{
                grid-area: s;
                aspect-ratio: 1/1;




            }
            .portrait-1{
                grid-area: p;
                aspect-ratio: 9/16;


            }
            .landscape-1{
                grid-area: l;

            }
            
        }
    
        .part-3{
            display: flex;
            justify-content: center;
            align-items: center;
            
            button{
                width: 11rem;
                font-size: small;

                height: 2rem;
                background-color: black;
                opacity: 0.5;
                color: white;
                padding:1rem;
                padding-bottom: 2rem;
                border-radius: 2rem;
                letter-spacing: 0.05rem;
            }
            button:hover{
                background-color: black;
                opacity: 0.8;
            }
        }
       

    // backgrond image 


    }
    @media (min-Width:1024px){

        .view-1{
            flex-direction: row;
            .part-1{
                width: 50%;
                padding: 2rem;
                .heading{
                    h1{
                        font-size: 5rem;
                        
                        padding-top: 1rem;
                    }
                }
                .content{
                    p{
                        font-size: 1.5rem;



                    }
                }
                button{
                    width: 11rem;
                    font-size: small;

                    height: 2rem;
                    background-color: black;
                    opacity: 0.5;
                    color: rgba(254, 254, 254, 0.93);
                    padding:1rem;
                    padding-bottom: 2rem;
                    border-radius: 2rem;
                    letter-spacing: 0.05rem;
                }
                button:hover{
                    background-color: black;
                    opacity: 0.8;
                }
            }
            .part-2{ 
                width: 50%;
                gap: 2rem;

                grid-template-areas: 
                ". . . s s s"
                "p p p s s s"
                "p p p s s s"
                "p p p l l l"
                "p p p l l l"
                ". . . l l l";
            }
            
           
            .part-3{
                button{
                    display: none;
                }
            }
        }
    }

}